$blue: #286798;
$border-color: #ccc;

@import 'normalize';
@import 'scaffold';
@import 'button';

.main {
  position: relative;
}

.board {
  position: absolute;
  left: 0;
  top: 0;
}

.player {
  width: 30px;
  height: 30px;
  position: absolute;
}

.field {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid red;
}